---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
{% if post.mainImage.asset %}
<div>
  <img src="{% imageUrlFor post.mainImage.asset._ref, 900 %}" loading="lazy" width="900" alt="{{ post.mainImage.alt }}" />
</div>
{% endif %}
  <h1>{{ post.title }}</h1>
  <p>Written by {% for author in post.authors %}{{author.name}}{% endfor %}  </p>
  {{ post.body | markdownify | safe }}

  
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
